@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  overflow-x: hidden;
  font-family:
    Inter,
    "Segoe UI Emoji",
    "Apple Color Emoji",
    sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  text-wrap: balance;
}
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-2%, -3%);
  }

  20% {
    transform: translate(1%, 2%);
  }

  30% {
    transform: translate(-1%, 1%);
  }

  40% {
    transform: translate(3%, -1%);
  }

  50% {
    transform: translate(-2%, 2%);
  }

  60% {
    transform: translate(1%, -2%);
  }

  70% {
    transform: translate(2%, 1%);
  }

  80% {
    transform: translate(-1%, -1%);
  }

  90% {
    transform: translate(2%, 2%);
  }
}
@keyframes slowZoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}